<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <div class="home-bg">
    <%- include("partials/header"); -%>
      
      <h1>About E-Diary</h1>
      <p>📗 Welcome to e-Diary, your digital journaling companion!</p>
      <p>📗 At e-Diary, we believe in the power of personal expression and self-reflection. Our platform offers a secure and convenient way to capture your thoughts, experiences, and emotions in a digital format.</p>
      <p>📗 With e-Diary, you can create multiple diaries, organize your entries, and customize your journaling experience. Whether you want to document your daily adventures, set goals, track progress, or simply express yourself, e-Diary is here to support you.</p>
      <p>📗 Our mission is to provide a private and nurturing space where you can freely express yourself, gain insights, and preserve your memories. We value your privacy and ensure that your personal data is protected with the utmost care.</p>
      <p>📗 Thank you for choosing e-Diary to accompany you on your journey of self-discovery and personal growth. Start journaling today and unlock the power of introspection!</p>
      <p>📗 Feel free to reach out to us if you have any questions or feedback. Happy journaling!</p>
    <%- include("partials/footer"); -%>
    </div>
</body>
</html>