<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <div class="home-bg">
    <%- include("partials/header"); -%>
      
      <h1>About Campus Diary</h1>
      <p>📗 Welcome to Campus Diaries, a vibrant online community dedicated to fostering connection and sharing the diverse experiences of students worldwide.</p>
      <p>📗 We understand the power of storytelling and the impact it can have on individuals. Through this platform, we aim to empower students to share their triumphs, struggles, and everything in between. By providing an inclusive and non-judgmental environment.</p>
      <p>📗 Our vision is to create a space where students from all walks of life can find inspiration, support, and guidance.</p>
      <p>📗 Whether you're seeking advice on academic challenges, sharing personal growth experiences, or simply looking for a community that understands your journey, you'll find a welcoming home here.</p>
      <p>📗 Together, we can celebrate the highs, navigate the lows, and inspire one another to thrive. We invite you to explore the stories, engage with fellow students, and contribute your own unique voice to this ever-growing community.</p>
      <p>📗 Thank you for being a part of Campus Diaries. Let's embark on this journey of studenthood together!</p>
      <p>📗 Feel free to personalize and modify the content to align with the specific goals and tone of your website.</p>
    <%- include("partials/footer"); -%>
    </div>
</body>
</html>
